@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Bold.eot');
  src: local('UberMoveBold'), local('UberMove-Bold'),
    url('UberMove-Bold.eot?#iefix') format('embedded-opentype'),
    url('UberMove-Bold.woff2') format('woff2'),
    url('UberMove-Bold.woff') format('woff'),
    url('UberMove-Bold.ttf') format('truetype');
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Regular.eot');
  src: local('UberMoveRegular'), local('UberMove-Regular'),
    url('UberMove-Regular.eot?#iefix') format('embedded-opentype'),
    url('UberMove-Regular.woff2') format('woff2'),
    url('UberMove-Regular.woff') format('woff'),
    url('UberMove-Regular.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Light.eot');
  src: local('UberMoveLight'), local('UberMove-Light'),
    url('UberMove-Light.eot?#iefix') format('embedded-opentype'),
    url('UberMove-Light.woff2') format('woff2'),
    url('UberMove-Light.woff') format('woff'),
    url('UberMove-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Uber Move';
  src: url('UberMove-Medium.eot');
  src: local('UberMoveMedium'), local('UberMove-Medium'),
    url('UberMove-Medium.eot?#iefix') format('embedded-opentype'),
    url('UberMove-Medium.woff2') format('woff2'),
    url('UberMove-Medium.woff') format('woff'),
    url('UberMove-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}

* {
  margin: 0;
  padding: 0;
  font-family: 'Uber Move';
}

::-webkit-scrollbar {
  width: 5px;
  height: 5px;
}
::-webkit-scrollbar-track {
  border-radius: 30px;
}
 
::-webkit-scrollbar-thumb {
  background: var(--gray); 
  border-radius: 30px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--black);
  cursor: pointer;
}

/* Variables */

:root {

  --black: #000000;
  --gray: #5e5e5e;
  --lightgray: #f6f6f6;
  --white: #ffffff;

  --Title-xl: 64px;
  --Title-lg: 36px;
  --Title-md: 32px;

  --Text-md: 24px;
  --Text-sm: 20px;
  --Text-xs: 16px;

}

/* Color Class */

.black{
  color: var(--black);
}

.gray{
  color: var(--gray);
}

.lightgray{
  color: var(--lightgray);
}

.white{
  color: var(--white);
}

/* Font Size and weight Class */

.Title-xl{
  font-size: var(--Title-xl);
}

.Title-lg{
  font-size: var(--Title-lg);
}

.Title-md{
  font-size: var(--Title-md);
}

.Text-md{
  font-size: var(--Text-md);
}

.Text-sm{
  font-size: var(--Text-sm);
}

.Text-xs{
  font-size: var(--Text-xs);
}

.Bold{
  font-weight: bold;
}

.Bold-md{
  font-weight: 500;
}

/* Other styles */

.TopSection {
  background-image: url(./Public/Images/Background.png);
  height: 100dvh;
  background-repeat: no-repeat;
  background-size: cover;
}

.Navbar {
  height: 50px;
  background-color: var(--black);
  color: var(--white);
  padding: 0px 50px 0px 50px;

  display: flex;
  justify-content: space-between;
  align-items: center;

}

.Navlinks {
  display: flex;
  flex-direction: row;
  gap: 30px;
}

.Navlinks a {
  text-decoration: none;
  color: var(--white);
  font-size: var(--Text-xs);
}

.Navbar p {
  font-size: var(--Text-md);
  color: var(--white);
  font-weight: bold;
}

.LandingContent{
  height: calc(100dvh - 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 40px;
  flex-wrap: wrap;
  flex-direction: column;
  text-align: center;
}

.LandingText{
  width: 40%;
  padding-top: 40px;

}

.LandingImg{
  width: 40%;
  height: auto;
}

.graybanner{
  background-color: var(--lightgray);
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 100px 50px 100px;
}

.clglogo{
  width: 150px;
}

.ourfeat{
  padding: 50px 0px 50px 100px;
}

.featcontainer {
  display: flex;
  flex-direction: column;
  gap: 100px;
  border: 1px solid #808080;
  margin: 0px 100px 0px 100px;
  padding: 100px 0px 100px 0px
}


.featbox{
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.featboxrev{
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row-reverse;
}

.featimg{
  width: 200px;
}

.featcontent{
  width: 600px;

}

.featdesc{
  padding-top: 20px;
}